<div class = "container-fluid">
    <app-user-navbar></app-user-navbar>
</div>

<div class = "container-fluid">
    <h3>Confirm Removing Movie Ticket from Cart Page</h3>
    <form (ngSubmit) = "onSubmit()">
        <div class = "form-group">
            <label>Movie Ticket Id</label>
            <input type = "number" class = "form-control" id = "movieTicketId"
                [(ngModel)] = "MovieTicket.id" name = "movieTicketId">
        </div>
        <p></p>

        <button class = "btn btn-success" type = "submit">Confirm Removing Movie Ticket from Cart</button>
    </form>
</div>