<div class = "container-fluid">
    <nav class = "navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class = "navbar-nav">
            <li class = "nav-item">
                <a routerLink = "user-portal" routerLinkActive = "active" class = "nav-link">Portal</a>
            </li>

            <li class = "navbar-nav">
                <a routerLink = "movie-ticket-search" routerLinkActive = "active" class = "nav-link">Movie Ticket Search</a>
            </li>

            <li class = "navbar-nav">
                <a routerLink = "user-account-dashbard" routerLinkActive = "active" class = "nav-link">Dashboard</a>
            </li>

            <li class = "navbar-nav">
                <a routerLink = "user-account-login" routerLinkActive = "active" class = "nav-link">Account Login</a>
            </li>

            <li class = "navbar-nav">
                <a routerLink = "user-account-register" routerLinkActive = "active" class = "nav-link">Account Registration</a>
            </li>

            <li class = "navbar-nav">
                <a routerLink = "user-cart" routerLinkActive = "active" class = "nav-link">Cart</a>
            </li>

            <li class = "navbar-nav">
                <a routerLink = "user-checkout" routerLinkActive = "active" class = "nav-link">Checkout</a>
            </li>

            <li class = "navbar-nav">
                <a routerLink = "user-make-payment" routerLinkActive = "active" class = "nav-link">Make Payment</a>
            </li>

            <li class = "navbar-nav">
                <a routerLink = "user-movie-ticket-order-summary" routerLinkActive = "active" class = "nav-link">Movie Ticket Order Summary</a>
            </li>

            <li class = "navbar-nav">
                <a routerLink = "user-remove-movie-ticket-from-cart" routerLinkActive = "active" class = "nav-link">Remove Movie Ticket from Cart</a>
            </li>

            <li class = "navbar-nav">
                <a class = "movie-ticket-search-results" routerLinkActive = "active" class = "nav-link">Movie Ticket Search Results</q>
            </li>

            <li class = "navbar-nav">
                <a class = "user-add-movie-ticket-to-cart" routerLinkActive = "active" class = "nav-link">Add Movie Ticket to Cart</a>
            </li>

            <li class = "navbar-nav">
                <a class = "user-portal" routerLinkActive = "active" class = "nav-link">Sign Out</a>
            </li>
        </ul>
    </nav>
</div>