<div class = "container-fluid">
    <app-user-navbar></app-user-navbar>
</div>

<div class = "container-fluid">
    <h3>Sign In to an Account</h3>
    <form (onSubmit) = "onSubmit()">
        <div class = "form-group">
            <label>Username</label>
            <input type = "text" class = "form-control" id = "username"
                [(ngModel)] = "User.username" name = "username">
        </div>
        <p></p>

        <div class = "form-group">
            <label>Email</label>
            <input type = "text" class = "form-control" id = "email"
                [(ngModel)] = "User.email" name = "email">
        </div>
        <p></p>

        <div class = "form-group">
            <label>Password</label>
            <input type = "password" class = "form-control" id = "password"
                [(ngModel)] = "User.password" name = "password">
        </div>
        <p></p>

        <button class = "btn btn-success" type = "submit">Log In to an Account</button>
    </form>
</div>