<div class = "container-fluid">
    <app-admin-navbar></app-admin-navbar>
</div>

<div class = "container-fluid">
    <h3>Update The Movie Ticket</h3>
    <form (ngSubmit) = "form-group">
        <div class = "form-group">
            <label>Movie Ticket Id</label>
            <input type = "number" class = "form-control" id = "movieTicketId"
                [(ngModel)] = "MovieTicket.id" name = "movieTicketId">
        </div>
        <p></p>

        <div class = "form-group">
            <label>Name of the Movie</label>
            <input type = "text" class = "form-control" id = "movieName"
                [(ngModel)] = "MovieTicket.movieName" name = "movieName">
        </div>
        <p></p>

        <div class = "form-group">
            <label>Show Date</label>
            <input type = "text" class = "form-control" id = "showDate"
                [(ngModel)] = "MovieTicket.showDate" name = "showDate">
        </div>
        <p></p>

        <div class = "form-group">
            <label>Show Time</label>
            <input type = "text" class = "form-control" id = "showTime"
                [(ngModel)] = "MovieTicket.showTime" name = "showTime">
        </div>
        <p></p>

        <div class = "form-group">
            <label>Showing Location</label>
            <input type = "text" class = "form-control" id = "showingLocation"
                [(ngModel)] = "MovieTicket.showingLocation" name = "showingLocation">
        </div>
        <p></p>

        <div class = "form-group">
            <label>Price</label>
            <input type = "number" class = "form-control" id = "price"
                [(ngModel)] = "MovieTicket.price" name = "price">
        </div>
        <p></p>

        <button class = "btn btn-success" type = "submit">Update The Movie Ticket</button>
    </form>
</div>